.wrapper {
  display: flex;
  flex-direction: column;
  column-gap: 50px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;

  background-image: url(../../../public/svg/decor.svg);
  background-position: left center;
  background-size: 611px;
  background-repeat: no-repeat;

  padding: 350px 0;

  .title {
    width: fit-content;
    white-space: nowrap;
  }

  .slider {
    margin: 0;
  }

  .text {
    margin: 0;
    padding: 0;

    height: auto;

    font-weight: 400;
  }
}

@media screen and (min-width: 0px) {
  .wrapper {
    padding: 120px 0;

    background-size: contain;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    font-size: 32px;

    padding: 150px 0;

    background-size: contain;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    flex-direction: row;

    font-size: 28px;

    background-size: 288px;

    padding: 150px 0;

    .text {
      height: 70px;
    }
  }
}

@media screen and (min-width: 1550px) {
  .wrapper {
    font-size: 34px;

    background-size: 435px;

    padding: 300px 0;

    .text {
      height: 88px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .wrapper {
    font-size: 48px;

    background-size: 611px;

    .text {
      height: 120px;
    }
  }
}
