.input {
	position: sticky;

	margin-top: 20px;

	&__text {
		background-color: transparent;
		height: 100%;
		width: 100%;

		padding-top: 4px;
		padding-bottom: 10px;

		border: none;
		outline: none;

		font-family: var(--font-Montserrat);
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;

		color: #ffffff;

		border-bottom: 1px solid #ffffff;

		&:focus + .input__placeholder {
			top: -22px;

			font-size: 14px;
			line-height: 17px;
		}

        &::placeholder {
            color: transparent;
        }

        &:not(:placeholder-shown)+.input__placeholder {
            top: -22px;

            font-size: 14px;
            line-height: 17px;
        }
	}

	&__placeholder {
		position: absolute;
		left: 0px;

		z-index: -1;

		font-family: var(--font-Montserrat);
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;

		color: #838383;

		transition: 0.5s;

		&__top {
			top: -22px;

			font-size: 14px;
			line-height: 17px;
		}
	}
}

