@import '../../../../styles/variables.scss';

.wrapper {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 834px;

    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
}

@media screen and (max-width: 768px) {

    .header {
        row-gap: 10px;
    }
}