@import "../../styles/variables.scss";

.button {
	cursor: pointer;
	outline: none;
	border: none;

	font-family: var(--font-SourceCodePro);
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 128.9%;

	transition: 0.3s;

	&__small {
		font-size: 18px;

		padding: 8px 42px;

		border-radius: 4px;
	}

	&__default {
		font-weight: 500;
		line-height: 30px;

		padding: 15px 57px;

		border-radius: 6px;
	}

	&__large {
		padding: 32px 72px;

		border-radius: 16px;
	}

	&__color_primary {
		color: #000000;
		background-color: $main-color;

		&.button__outline {
			color: $main-color;

			border: 1px solid $main-color;

			&.button__active {
				background-color: #fff;
				border: 1px solid #000;
				color: #000;
			}
		}
	}

	&__color_light {
		color: #000;
		background-color: #fff;

		&.button__outline {
			color: #fff;

			border: 1px solid #fff;

			&.button__active {
				background-color: #fff;
				border: 1px solid #000;
				color: #000;
			}
		}
	}

	&__outline {
		background: transparent;
	}

	&__rounded {
		border-radius: 100px;
	}
}

