.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 520px;

    &__info {
        display: flex;
        flex-direction: column;
        row-gap: 40px;

        width: 100%;
    }

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }
}