.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

@media screen and (max-width: 440px) {

  .list {
    display: grid;
    grid-template-areas:
      'contact social '
      'slogan slogan';
    grid-template-columns: min-content;

    gap: 15px;
  }
}