.project_card {
	.image {
		background-color: #ececec;
		margin-bottom: 22px;

		width: 100%;
		height: 100%;

		img {
			width: inherit;
			height: inherit;
			object-fit: contain;
		}
	}

	h3,
	p {
		margin: 0;

		font-family: "Inter";
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 18px;
	}

	h3 {
		color: #8e8e8e;
	}

	p {
		color: #ececec;
	}
}
