.privacy {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 9px;

	&__checkbox {
		display: none;

		&:checked+.privacy__agree {
			&::before {
				opacity: 1;
			}
		}
	}

	&__agree {
		background-color: #27262D;
		border-radius: 50%;

		min-width: 30px;
		min-height: 30px;

		position: relative;

		cursor: pointer;

		&::before {
			content: "";
			display: inline-block;

			position: absolute;
			left: 50%;
			top: 50%;

			transform: translate(-50%, -50%);

			background-color: #98ec65;

			min-width: 12px;
			min-height: 12px;

			border-radius: 50%;

			transition: 0.3s;

			opacity: 0;
		}
	}

	&__label {
		position: relative;

		color: #ffffff;

		cursor: pointer;

		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;

		color: #ECECEC;
	}
}

@media screen and (max-width: 360px) {
	.privacy {

		&__label {
			font-size: 14px;
		}
	}
}