@import '../../../../../styles/variables.scss';

.title {
    color: $white-color;
    text-align: center;
    font-family: "Roboto Flex";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin: 0px;
}