@import "../../styles/variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 0 !important;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  &__input {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 97px;
    letter-spacing: -0.04em;

    color: $gray-color;

    background-color: transparent;

    border: none;

    outline: none;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 30px;

  width: 100%;
  max-width: 1028px;
}

.buttons {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  width: fit-content;

  button {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
}

@media screen and (max-width: 1024px) {
  .form {
    row-gap: 40px;

    .info {
      row-gap: 15px;
    }
  }

  .products {
    max-width: 696px;
    gap: 20px;
  }
}

@media screen and (max-width: 710px) {
  .products {
    max-width: 612px;
  }
}

@media screen and (max-width: 530px) {
  .products {
    max-width: 432px;
  }
}

@media screen and (max-width: 360px) {
  .products {
    row-gap: 15px;
  }
}