@font-face {
  font-family: "Actay";
  src: url("../../public/fonts/subset-Actay-Regular.woff2") format("woff2"),
  url("../../public/fonts/subset-Actay-Regular.woff") format("woff"),
  url("../../public/fonts/subset-Actay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/subset-Inter-Regular.woff2") format("woff2"),
  url("../../public/fonts/subset-Inter-Regular.woff") format("woff"),
  url("../../public/fonts/subset-Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/subset-Inter-Light.woff2") format("woff2"),
  url("../../public/fonts/subset-Inter-Light.woff") format("woff"),
  url("../../public/fonts/subset-Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/subset-Inter-Medium.woff2") format("woff2"),
  url("../../public/fonts/subset-Inter-Medium.woff") format("woff"),
  url("../../public/fonts/subset-Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/subset-Inter-Bold.woff2") format("woff2"),
  url("../../public/fonts/subset-Inter-Bold.woff") format("woff"),
  url("../../public/fonts/subset-Inter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/subset-Inter-SemiBold.woff2") format("woff2"),
  url("../../public/fonts/subset-Inter-SemiBold.woff") format("woff"),
  url("../../public/fonts/subset-Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src: url("../../public/fonts/subset-InterTight-Italic.woff2") format("woff2"),
  url("../../public/fonts/subset-InterTight-Italic.woff") format("woff"),
  url("../../public/fonts/subset-InterTight-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
