@import "./variables.scss";
@import "fonts";

body {
  height: 100vh;
}

a {
  color: inherit;
}

html,
body {
  // Для блокировки скрол бара при открытии попапа
  scrollbar-gutter: stable;
  // Стили скрола
  *::-webkit-scrollbar {
    width: 10px;
    height: 12px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: $dark-color;
    border-radius: 8px;
    border: 1.5px solid $black-color;

    &:hover {
      border-color: $dark-color;
    }
  }

  padding: 0;
  margin: 0;
  background-color: $black-color;
  color: $white-color;

  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // min-width: 320px;

    header,
    footer {
      flex: 0 0 auto;

      &,
      * {
        z-index: 5;
      }
    }

    main {
      flex: 1 0 auto;
      align-self: center;

      width: 100%;
      max-width: 1688px;
      padding: 50px 24px 120px;
      position: relative;

      > * {
        z-index: 1;
      }

      //todo
    }
  }
}

@media screen and (min-width: 1550px) {
  html {
    .wrapper {
      &::after {
        content: "";
        box-sizing: border-box;
        width: 1121px;
        height: 100%;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        background-color: transparent;
        background-image: linear-gradient(
                        90deg,
                        #1c1c1c /* $main-color */
                        1px,
                        transparent 1px
        );
        background-size: 280px;
        background-position: left;
      }
    }
  }
}

@media screen and (min-width: 920px) {
  html {
    .wrapper {
      &::before {
        content: "";
        display: block;
        background: linear-gradient(180deg, $black-color 0%, rgba(16, 15, 19, 0.00) 10%, rgba(16, 15, 19, 0.00) 90%, $black-color 100%);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
        pointer-events: none;
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  body {
    .wrapper {
      main {
        max-width: 1318px;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  body {
    .wrapper {
      main {
        padding: 0 16px 58px;
      }
    }
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

/* --- / 404 page / ---*/

.not_found {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 100px;

  flex: 1;
  padding: 0 50px;

  max-width: 1372px;
  margin: auto;

  /* FOR DEV */
  height: 100vh;

  * {
    transition: all 0.2s;
  }

  &__text {
    color: $white-color;

    * {
      margin: 0;
    }

    h1 {
      font-style: normal;
      font-weight: 500;
      font-size: 90px;
      margin-bottom: 50px;
    }

    p {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
    }
  }
}

@media screen and (max-width: $big-screen-width) {
  .not_found {
    max-width: $big-content-width;

    &__text {
      h1 {
        font-size: 70px;
      }

      p {
        line-height: 24px;
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: $medium-screen-width) {
  .not_found {
    max-width: $medium-content-width;
  }
}

@media screen and (max-width: $small-screen-width) {
  .not_found {
    flex-direction: column;
    justify-content: center;
    row-gap: 100px;
    padding: 0 16px !important;

    h1 {
      text-align: center;
    }
  }
}

/* --- / end. 404 page / ---*/
