$main-color: #98ec65;
$white-color: #ececec;
$light-color: #cacaca;
$gray-color: #8e8e8e;
$dark-gray-color: #2A2A2F;
$dark-color: #27262d;
$black-color: #100f13;
$console-color: #16c60c;
$active-link-color: #4B4951;
$very-dark-color: #5F5D6A;
$very-light-color: #fff;

$big-screen-width: 1550px;
$big-content-width: 1126px;
$medium-screen-width: 1000px;
$medium-content-width: 894px;
$small-screen-width: 768px;
$small-content-width: $small-screen-width;
