.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px 40px;
  > * {
    height: fit-content;
    div {
      img {
        max-height: 600px !important;
        width: 100% !important;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    gap: 58px 20px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    gap: 40px 20px;
  }
}

@media screen and (max-width: 430px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
