.wrapper {
  width: 100%;

  .title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 15px;

    width: fit-content;

    h3,
    h4 {
      color: inherit;
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      margin: 0;
      text-transform: uppercase;


      a {
        color: inherit;
      }
    }

    h4 {
      padding: 7px 14px;
      border: 1px solid #4b4951;
      border-radius: 59px;
    }

    &__md {
      h3 {
        font-size: 16px;
        line-height: normal;
      }

      h4 {
        font-size: 16px;
        line-height: 19px;
      }
    }

    &__lg {
      h3 {
        font-family: "Actay", sans-serif;
        font-size: 48px;
        line-height: 60px;
        text-transform: none;
      }

      h4 {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        line-height: 150%;

        color: #8e8e8e;
        border: none;
        border-radius: 0;
        padding: 0;

        text-transform: none;
      }
    }

    &.center {
      flex-direction: column;
      margin: 0 auto;
      align-items: flex-end;
      gap: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    .title {
      &__lg {
        h3 {
          font-size: 28px;
          line-height: 35px;
        }

        h4 {
          font-size: 14px;
          line-height: 17px;
        }
      }

      &.center {
        align-items: center;
        row-gap: 5px;
      }
    }
  }
}