.wrapper {
  width: 100%;

  .title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 15px;

    width: fit-content;

    h2,
    h1,
    span {
      color: inherit;
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      margin: 0;
      text-transform: uppercase;


      a {
        color: inherit;
        text-decoration: underline;
      }
    }

    span {
      padding: 7px 14px;
      border: 1px solid #4b4951;
      border-radius: 59px;
    }

    &__md {

      h2,
      h1 {
        font-size: 16px;
        line-height: normal;
      }

      span {
        font-size: 13px;
        line-height: 14px;
      }
    }

    &__lg {

      h1,
      h2 {
        font-family: "Roboto Flex";
        font-size: 48px;
        line-height: 60px;
        text-transform: none;
      }

      span {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        line-height: 150%;

        color: #8e8e8e;
        border: none;
        border-radius: 0;
        padding: 0;

        text-transform: none;
      }
    }

    &.center {
      flex-direction: column;
      margin: 0 auto;
      align-items: center;
      gap: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    .title {
      &__lg {

        h1,
        h2 {
          font-size: 28px;
          line-height: 35px;
        }

        span {
          font-size: 14px;
          line-height: 17px;
        }
      }

      &.center {
        align-items: center;
        row-gap: 5px;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .wrapper {
    .title {
      &__md {

        h1,
        h2 {
          font-size: 12px;
        }

        span {
          font-size: 11px;

          padding: 5px 12px;
        }
      }
    }
  }
}
