.wrapper {
	width: 100%;

	.title {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 10px 15px;

		width: fit-content;

		text-transform: uppercase;

		h3,
		h4 {
			color: inherit;
			font-family: "Inter", sans-serif;
			font-style: normal;
			font-weight: 500;
			margin: 0;

			a {
				color: inherit;
			}
		}

		h3 {
			font-size: 16px;
			line-height: 19px;
		}

		h4 {
			font-size: 13px;
			line-height: 14px;

			padding: 7px 14px;
			border: 1px solid #4b4951;
			border-radius: 59px;
		}

		&.center {
			flex-direction: column;
			margin: 0 auto;
			align-items: flex-end;
			gap: 0;

			h3,
			h4 {
				font-style: normal;
				font-weight: 400;
				margin: 0;
			}

			h3 {
				font-family: "Actay";
				font-size: 48px;
				line-height: 60px;
			}

			h4 {
				font-family: "Inter";
				font-size: 16px;
				line-height: 150%;

				color: #8e8e8e;
				border: none;
				border-radius: 0;
				padding: 0;

				text-transform: none;
			}
		}
	}
}



@media screen and (max-width: 430px) {
	.wrapper {
		.title {
			h3 {
				font-size: 14px;
				line-height: 17px;
			}

			h4 {
				font-size: 10px;
				line-height: 12px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.wrapper {

		.title {

			&.center {
				align-items: center;
				row-gap: 5px;
				h3 {
					font-size: 28px;
					line-height: 35px;
				}

				h4 {
					font-size: 14px;
					line-height: 17px;
				}
			}
		}
	}
}