@import '../../styles/variables.scss';

.wrapper {
    width: 100%;
    //max-width: 1360px;

    display: flex;
    flex-direction: column;
    row-gap: 190px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 100px;
}

.header {
    display: grid;
    grid-template-areas:
        'number title'
        'number slogan';
    gap: 15px;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;

    &__number {
        color: $main-color;
        font-size: 20px;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        grid-area: number;
    }

    &__title {
        margin: 0;

        display: flex;
        align-items: flex-start;
        column-gap: 15px;

        color: $white-color;
        font-size: 48px;
        font-family: Actay, sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        grid-area: title;
    }

    &__slogan {
        margin: 0;

        color: $white-color;
        text-shadow: 0 4px rgba(0, 0, 0, 0.25);
        font-size: 16px;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;

        grid-area: slogan;

        width: 100%;
        max-width: 520px;
    }
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 80px;

    width: 100%;
    max-width: 1080px;
}

.item {
    width: 100%;

    display: flex;
    flex-direction: column;

    &__info {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    &__right {
        align-items: flex-end;
    }

    &__title {
        margin: 0;

        color: $white-color;
        font-size: 16px;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__text {
        margin: 0;

        color: $gray-color;
        font-size: 16px;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;

        width: 100%;
        max-width: 520px;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper {
        row-gap: 100px;
    }

    .info {
        row-gap: 50px;
    }

    .list {
        row-gap: 50px;
        align-items: center;
    }

    .item {
        max-width: 520px;
    }
}

@media screen and (max-width: 768px) {

    .header {

        &__slogan {
            font-size: 13px;
        }
    }

    .item {

        &__text {
            font-size: 13px;
        }
    }
}

@media screen and (max-width: 460px) {
    .header {
        column-gap: 5px;

        &__title {
            font-size: 24px;
        }

        &__number {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 360px) {
    .header {

        &__title {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 320px) {
    .wrapper {
        row-gap: 50px;
    }
}
