@import '../../../../../../styles/variables.scss';

.title {
    display: flex;
    row-gap: 5px;
    flex-direction: column;

    &__text {
        color: $white-color;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        margin: 0px;

        display: flex;
        align-items: center;
        column-gap: 5px;

        white-space: noWrap;
    }
}

@media screen and (max-width: 430px) {
    .title {
        &__text {
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 340px) {
    .title {
        &__text {
            font-size: 20px;
        }
    }
}
