@import '../../../../../../styles/variables.scss';

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;

    width: 100%;
    max-width: 150px;

    &__img {
        width: inherit;

        object-fit: contain;
    }

    &__title {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 130%;

        color: $white-color;

        margin: 0;

        text-align: center;
    }
}

@media screen and (max-width: 760px) {
    .item {
        max-width: 88px;
    }
}

@media screen and (max-width: 430px) {
    .item {
        row-gap: 15px;
    }
}