.container {
  .description {
    display: flex;

    column-gap: 40px;
    justify-content: space-between;
    padding: 46px 0 90px;

    .col {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 130%;

      color: #8e8e8e;
    }
  }

  .cards {
    width: 100%;

    display: flex;
    justify-content: space-between;
    column-gap: 70px;
  }
}

@media screen and (max-width: 1550px) {
  .container {
    .cards {
      column-gap: 40px;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .cards {
      row-gap: 70px;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media screen and (max-width: 720px) {
  .container {
    .description {
      flex-direction: column;
      row-gap: 30px;
    }
  }
}

@media screen and (max-width: 720px) {
  .container {
    .description {
      padding-top: 16px;
      padding-bottom: 60px;
    }
  }
}

@media screen and (max-width: 430px) {
  .container {
    .cards {
      row-gap: 60px;
    }
  }
}
