@import '../../../../../../styles/variables.scss';

.slogan {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;

    color: $white-color;

    margin: 0;
}
