@media screen and (max-width: 1550px) {
  .bar {
    max-width: 1300px;
  }

  .menu {
    column-gap: 19px;
  }
}

@media screen and (max-width: 1024px) {

  .header {

    &__visible {
      transform: translateY(0px);
    }
  }

  .preview {
    display: none;
  }

  .bar {
    padding: 12px 24px;
  }

  .menu {

    &__link {
      font-size: 12px;
      line-height: 15px;
    }
  }

  .info {

    &__link {
      text-decoration: underline;

      &:last-child {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .bar {
    display: grid;
    grid-template-areas:
        'logo info'
        'menu menu';
    row-gap: 30px;
  }

  .logo {
    grid-area: logo;
  }

  .info {
    grid-area: info;
    justify-content: flex-end;

    &__button {
      display: none;
    }
  }

  .menu {
    grid-area: menu;
  }
}

@media screen and (max-width: 768px) {

  .bar {
    padding: 15px 24px;
  }
}

@media screen and (max-width: 660px) {
  .menu {
    min-width: 100%;
    overflow-x: scroll;

    padding: 6.5px 0;
  }
}

@media screen and (max-width: 430px) {
  .bar {
    padding: 15px 16px;
  }
}
