@import '../../styles/variables.scss';
.header {
    display: flex;
    justify-content: space-between;
    padding: 24px 0px;

    background-color: $black-color;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 15px;

    width: fit-content;

    cursor: pointer;

    &__svg {
        width: 100%;
        max-width: 36px;
        height: auto;
    }

    &__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;

        color: $white-color;

        margin: 0px;
    }
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 68px;

    &__link {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;

        color: $white-color;
    }
}

.info {
    display: flex;
    align-items: flex-start;
    column-gap: 30px;

    &__column {
        display: flex;
        flex-direction: column;
    }

    &__link {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;

        color: $white-color;
    }

    &__button {
        display: flex;
        align-items: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 11.5px;
        line-height: 14px;

        color: $white-color;

        background-color: transparent;
        border: none;

        padding: 0px;
        padding-right: 15px;

        cursor: pointer;

        background-image: url(../../../public/svg/Arrows/Right.svg);
        background-repeat: no-repeat;
        background-position: right;
    }
}

.burger{
    display: none;

    cursor: pointer;

    background-color: transparent;
    background-image: url('../../../public/svg/burger.svg');
    background-repeat: no-repeat;
    background-size: contain;
    border: none;

    padding: 0px;

    width: 100%;
    max-width: 29px;
    height: 31px;
}

@import './HeaderMedia.module.scss'