@import '../../../../styles/variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 120px;

    width: 100%;
    max-width: 561px;

    margin: 0 auto;

    z-index: -1;

    &__title {
        color: $white-color;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 30px;

        margin: 0px;
    }

    &__slider {
        height: 569px;
        position: relative;

        &::after {
            display: inline-block;
            content: '';

            position: absolute;
            top: 0px;
            left: 0px;

            width: 100%;
            height: -webkit-fill-available;

            background: linear-gradient(180deg, rgba(16, 15, 19, 0.00) 0%, #100F13 93%);
            z-index: 1;
        }
    }

    &__slide {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    &__text {
        color: $white-color;
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;

        margin: 0px;

        transition: 1s;

        padding: 10px 15px;

        border-radius: 100px;

        background-color: transparent;

        &_active {
            background-color: #fff;
            color: $black-color;
        }
    }
}


@media screen and (max-width: 1024px) {
    .wrapper {
        row-gap: 80px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {

        &__title,
        &__text {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 430px) {
    .wrapper {
        row-gap: 50px;

        &__title,
        &__text {
            font-size: 13px;
        }
    }
}
