@import '../../../../styles/variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 100px;

    width: 100%;
    max-width: 1640px;

    margin: 0 auto;

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 160px;
    }
}

.step {
    display: flex;
    flex-direction: column;
    row-gap: 60px;

    &__header {
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        width: 100%;
        max-width: 592px;
    }

    &__title {
        color: $white-color;
        font-family: "Roboto", sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        margin: 0px;
    }

    &__text {
        color: $white-color;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        -webkit-text-stroke-width: 1;
        -webkit-text-stroke-color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;

        margin: 0px;
    }
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    &__item {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    &__title {
        color: $white-color;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        margin: 0px;
    }

    &__text {
        color: $gray-color;

        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;

        white-space: break-spaces;

        margin: 0px;
    }

    &__count {
        color: $white-color;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media screen and (max-width: 1419px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .wrapper {
        row-gap: 50px;

        align-items: center;

        &__content {
            row-gap: 80px;

            max-width: 476px;
        }
    }

    .list,
    .step {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }

    .step {
        &__title {
            max-width: unset;

            font-size: 24px;
        }

        &__text {
            font-size: 13px;
        }
    }

    .list {

        &__title,
        &__text,
        &__count {
            font-size: 13px;
        }
    }
}
