@import '../../styles/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.contact {
  display: flex;
  column-gap: 30px;

  &__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-decoration-line: underline;

    color: $white-color;
  }
}

.slogan {
  width: 100%;
  max-width: 520px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: $white-color;
}

.social {
  display: flex;
  column-gap: 30px;

  &__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-decoration-line: underline;

    color: $white-color;

    display: flex;
    align-items: center;
    column-gap: 10px;

    &::after {
      content: '';
      display: inline-block;

      min-width: 10px;
      height: 10px;

      background-image: url('../../../public/svg/Arrows/UpRight.svg');
    }
  }

  &__img {
    width: 100%;
    max-width: 30px;
    height: auto;
  }
}

@media screen and (max-width: 1110px) {
  .contact {

    &__link {
      font-size: 36px;
      line-height: 44px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .contact {

    &__link {
      font-size: 24px;
      line-height: 29px;
    }
  }
}

@media screen and (max-width: 720px) {
  .contact {
    column-gap: 15px;

    &__link {
      font-size: 14px;
      line-height: 17px;
    }
  }
}

@media screen and (max-width: 530px) {
  .social {
    column-gap: 15px;

    &__img {
      max-width: 20px;
    }

    &__link {
      font-size: 14px;
      line-height: 130%;
    }
  }
}

@media screen and (max-width: 430px) {

  .list {
    display: grid;
    grid-template-areas:
            'contact social '
            'slogan slogan';
    grid-template-columns: min-content;

    gap: 15px;
  }

  .social {
    grid-area: social;

    flex-direction: column;
    row-gap: 5px;

    &__link {
      width: fit-content;
    }
  }

  .contact {
    grid-area: contact;

    flex-direction: column;
    row-gap: 7px;

    &__link {
      width: fit-content;
    }
  }

  .slogan {
    font-size: 13px;
    line-height: 150%;

    grid-area: slogan;
  }
}
