.FullScreenForm {
  cursor: default;

  display: flex;
  flex-direction: column;
  row-gap: 68px;

  width: 100%;
  max-width: 1108px;

  &__close {
    position: absolute;
    right: 56px;
    top: 56px;

    cursor: pointer;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    z-index: 99;

    background-color: #100F13;

    transition: .5s;

    &__visibility {
      left: 0;
    }

    &__hidden {
      left: -100%;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 21px;
  }

  &__title {
    font-family: var(--font-Montserrat);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 128.9%;

    color: #FFFFFF;

    margin: 0;
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__list {
    display: flex;
    column-gap: 30px;
  }

  &__privacy {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
}
